.nav-lt li {
	float: left;
	height: 45px;
	font-size: 16px;
	font-weight: 700;
	margin: 0 28px;
	line-height: 45px;
}
.nav-lt li a {
	color: #000;
}
.nav-lt li a:hover {
	color: #C81523;
}
.nav-rt li {
	float: left;
	height: 45px;
	font-size: 14px;
	margin: 0 22px;
	font-family: 'icomoon';
	line-height: 45px;
}
.list {
	margin-top: 25px;
}
.list ul {
	width: 1212px;
}
.list li {
	float: left;
	height: 458px;
	width: 288px;
	margin: 0 12px 12px 0;
	border: 1px solid transparent;
}
.list li:hover {
	border: 1px solid #e12228;
}
.list h5 {
	font-size: 14px;
	font-weight: 400;
	padding: 12px;
}
.list .list-price {
	font-size: 22px;
	color: #e60012;
	padding: 0 12px;
	font-weight: 700;
}
.list del {
	font-size: 14px;
	color: #a4a4a4;
	font-weight: 700;
}
.list-current {
	padding: 0 12px;
}
.list-current .jindu {
	display: inline-block;
	width: 130px;
	height: 10px;
	border: 1px solid #e12228;
	border-radius: 5px;
	vertical-align: middle;
	margin: 0 10px;
}
.list-current .current {
	width: 87%;
	height: 100%;
	background-color: #ed282e;
}
.list-current i,
.list-current em {
	color: #e12228;
}
.list-buy {
	display: block;
	height: 49px;
	width: 288px;
	background-color: #b1191a;
	line-height: 49px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-top: 2px;
}
.page {
	text-align: center;
	margin-top: 44px;
	margin-bottom: 40px;
}
.page a {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: #F7F7F7;
	border: 1px solid #ccc;
	line-height: 36px;
}
.page .page-lt-xyy,
.page .page-lt-syy {
	width: 83px;
}
.page .page-lt-none {
	border: 1px solid transparent;
	background-color: transparent;
}
.page input {
	width: 46px;
	height: 36px;
	text-align: center;
	border: 1px solid #ccc;
	transition: all .5s;
}
.page input:focus {
	width: 88px;
	border: 1px solid skyblue;
}
.page button {
	width: 52px;
	height: 36px;
	background-color: #F7F7F7;
	border: 1px solid #ccc;
}
